.container {
  margin: 0px 30px;

  .title {
    font-size: 50px;
    // margin-top: 150px;
    margin-bottom: 30px;
    // margin-left: 20px;
  }
  .link {
    margin-bottom: 20px;
    color: blue;
  }
}
